<div class="ui card green message">
  <div class="row" id="headshot_bg">
    <%= image_tag("greg.png", class: "fademein2 ui centered tiny circular image") %>
  </div> 
  <div class="content">    
    <div class="header tltleft">Greg Merritt</div>
    <div class="meta">
      <span class="date fademein2">Artist</span>
    </div>
    <div class="right description fademein3">
      Hi, I drew by hand all the pictures you see on the right. Would you wear any of these on a shirt?
    </div>
  </div>
  <div class="extra content">
    <i id="gregs-email" class="mail icon float-right"></i>
    <%= semantic_icon(:facebook, :float_right) %>
  </div>
</div>
<div class="ui card green message">
  <div class="row" id="headshot_bg">
    <%= image_tag("ilia.png", class: "fademein2 ui centered tiny circular image") %>
  </div> 
  <div class="content">    
    <div class="header tltleft">Ilia Reingold</div>
    <div class="meta">
      <span class="date fademein2">Developer</span>
    </div>
    <div class="right description fademein3">
      Hey, I'm the creator of this site. Like it? Got any suggestions? Reach out to me!
    </div>
  </div>
  <div class="extra content">
    <i id="ilias-email" class="mail icon float-right"></i>
    <%= semantic_icon(:facebook, :float_right) %>
    <%= semantic_icon(:twitter, :float_right) %>
  </div>