<div class="ui card">
  <div class="content">
    <a class="header"><%= card.header %></a>
    <div class="meta">
    <span class="xp_<%= card.low %>"><%= card.low %></span>
    </div>
    <div class="description">
      <%= card.description %>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="linux icon"></i>
      <%= card.extra %>
    </a>
  </div>
</div>