<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui horizontal segment">
      <div class="ui purple message">
        <p class="tlttop header alpha center">Thanks for visiting!</p>
        <p class="fademein2">VerumDesigns is a creative collaboration between <a href="https://www.facebook.com/ilia.reingold" target="_blank">@Ilia Reingold </a>
         and <a href="https://www.facebook.com/greg.merritt.75" target="_blank">@Greg Merritt</a>. It's our ambition to release premium, high quality graphic shirts. Our strategy is release a lightweight, voting-based site, where our users and beloved fans can cast their pick for our next run of production.</p>
         <p class="fademein3 center">Let us know which ones you like!</p>
       </div>
     </div>
   </div>
   <div class="row">
    <div class="five wide column">
      <div class="ui card green message">
        <div class="row" id="headshot_bg">
          <%= image_tag("greg.png", class: "fademein2 ui centered tiny circular image") %>
        </div> 
        <div class="content">    
          <div class="header tltleft">Greg Merritt</div>
          <div class="meta">
            <span class="date fademein2">Artist</span>
          </div>
          <div class="right description fademein3">
            Hi, I drew by hand all the pictures you see on the right. Would you wear any of these on a shirt?
          </div>
        </div>
        <div class="extra content">
          <i id="gregs-email" class="mail icon float-right"></i>
          <%= semantic_icon(:facebook, :float_right) %>
        </div>
      </div>
      <div class="ui card green message">
        <div class="row" id="headshot_bg">
          <%= image_tag("ilia.png", class: "fademein2 ui centered tiny circular image") %>
        </div> 
        <div class="content">    
          <div class="header tltleft">Ilia Reingold</div>
          <div class="meta">
            <span class="date fademein2">Developer</span>
          </div>
          <div class="right description fademein3">
            Hey, I'm the creator of this site. Like it? Got any suggestions? Reach out to me!
          </div>
        </div>
        <div class="extra content">
          <i id="ilias-email" class="mail icon float-right"></i>
          <%= semantic_icon(:facebook, :float_right) %>
          <%= semantic_icon(:twitter, :float_right) %>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui horizontal green segment">
       <div class="center header"><%= @design.name %></div>
       <div class="content">
         <%= image_tag(@design.image, id: "gasmask", class: "fademein3 ui image") %>
       </div>
     </div>
   </div>
 </div>  
 