<div class="ui two column centered grid">
  <div class="column">
    <%= semantic_icon(:wrench) %>
    Look at it go!
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
  </div>
  <div class="four column row">
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
    <div class="column">
      <%= semantic_icon(:wrench) %>
      Look at it go!
    </div>
  </div>
</div>
<h1 align="center">WILL IT WORK?</h1>
<img src="assets/rails.png" align="center"><br/>
<p>This file is located in /home/rails/app/views/home/index.html.erb</p>

Your application root is located in: <%= Rails.root.to_s %><br>

Ruby version: <%= RUBY_VERSION %><br>

Rails version: <%= Rails.version %><br>

